
#header {
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	height: 80px;
	padding: 5px 20px;
	z-index: 1;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	font-weight: bold;
}

#content {
	width: 80%;
	float: right;
	height: 1800px;
	background: grey;
	position: relative;
	padding: 15px;
	margin: auto;
	margin-top: 80px;
	background-image: linear-gradient(white, grey);
	border: 1px solid red;
}

#footer {
}

#sidebar .list-group-item i {
	margin-right: 10px;
	margin-top: 4px;
}
.badge {
	line-height: normal;
}
#sidebar .list-group-item .badge {
	margin: 0px 0.1cm;
}