.freq-used-accs {
	min-height: 160px;
}

.freq-used-acc {
	background: #eee;
	border: 1px solid lightgrey;
	border-radius: 20px;
	min-height: 140px;
	margin: 10px 20px;
	padding: 15px;
}

.freq-used-acc span {
	display: block;
	text-align: center;
}

.freq-used-acc .acc-code {
	font-weight: bold;
	font-size: 16pt;
}

.freq-used-acc span.badge-main-acc {
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 12pt;
}

.currency-rates {
	width: 640px;
	min-height: 120px;
	background: #eee;
	border: 1px solid lightgrey;
	border-radius: 20px;
	padding: 15px;
}